:root {
    font-size: 12pt;
    font-family: sans-serif;
}

body {
    height: 100vh;
    
    display: flex;
    justify-content: center;
}


.fondo-azul {
    margin: 1rem;
    background-color: #4ab3f4;
    height: 7rem;
    width: 22rem;
    border-radius: 1rem;
    display: flex;
    justify-content: space-around;
    text-shadow: 1px 1px black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.589);
}

.sol, .datos, .extra {
    display: flex;
    align-items: center;
    color: #fff;
}
.sol img {
    width: 3.5rem;
}
.datos, .extra {
    display: flex;
    flex-direction: column;
    align-items: start;
}
.datos {
    justify-content: space-evenly;
}
.datos p {
    margin: 0;
}
.datos p:nth-of-type(1) {
    font-size: 1.6rem;
}
.datos p:nth-of-type(2) {
    font-size: .8rem;
}
.datos :nth-of-type(2n+1) {
    font-weight: bold;
}
.extra {
    
    justify-content: end;
}
.extra p {
    font-size: .8rem;
}
.extra .negrita {
    font-weight: bolder;
    font-size: .9rem;
}